:root{
    /* Originally */
    /* https://colorffy.com/dark-theme-generator?colors=9908f6-121212 */
    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0:rgb(43, 23, 0);
    --clr-primary-a10: #412a00;
    --clr-primary-a20: #5f2e00;
    --clr-primary-a30: #8b5400;
    --clr-primary-a40: #bb8000;
    --clr-primary-a50: #ffd000;

    /** Theme surface colors */
    --clr-surface-a0: #251500;
    --clr-surface-a5: #3f2200;
    --clr-surface-a10: #412f00;
    --clr-surface-a20: #5c3c00;
    --clr-surface-a30: #755600;
    --clr-surface-a40: #9e6c00;
    --clr-surface-a50: #eea300;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #252116;
    --clr-surface-tonal-a10: #3a382b;
    --clr-surface-tonal-a20: #4f4b42;
    --clr-surface-tonal-a30: #66615a;
    --clr-surface-tonal-a40: #7e7a73;
    --clr-surface-tonal-a50: #96948e;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--clr-surface-a0);
    color: var(--clr-light-a0);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    padding: 10px 20px;
}