header{
    padding: 0.80em 20px;
    background-color: var(--clr-surface-a5);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

header svg{
    height: 2em;
    color: var(--clr-light-a0);
}

header svg:hover{
    cursor: pointer;
    color: var(--clr-primary-a50); 
}

header h1{
    margin: 0;
}

header a{
    color: var(--clr-light-a0);
    text-decoration: none;
}

header a:hover{
    color: var(--clr-primary-a50);
    text-decoration: underline;
}